@model ReflectionIT.Mvc.Paging.PagingList<ServiceItem>
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}
@using ReflectionIT.Mvc.Paging 
@addTagHelper *, ReflectionIT.Mvc.Paging


<div>
    <h2>@strTitle</h2>

    <div>
        <h3>Наши услуги</h3>
        <form class="form-inline mb-2 mb-3" method="post" asp-action="Index">
            <button type="submit" class="btn btn-primary mb-2">Поиск</button>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" placeholder="Поиск Услуг" name="Service">
            </div>
        </form>

        <form asp-action="Index" method="get">
            <input type="submit" name="Sort" value="сортировать по имени"><br>
            <input type="submit" name="Sort" value="сортировать по дате добавления"><br>
        </form>

        <div class="div-box">
            <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Добавить услугу</a>
        </div>

        @if (Model.Any())
        {

    @foreach (ServiceItem entity in Model)
    {
    <div class="card mb-3">
        @* <img src="images/@($"{entity.TitleImagePath}")" class="card-img-top" style="height:12rem;">*@
        <div class="card-body">
            <div class="row">
                <img src="images/@($"{entity.TitleImagePath}")" class="" style="height:12rem; width: 15rem;">

                <div class="right">
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id" style="font-size: 22px; font-weight: bolder; text-decoration: none">
                        @($"{entity.Title}")
                    </a>
                    <br />
                    <br />
                    <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id" class="btn btn-secondary" style="text-decoration: none">редактировать</a>

                    <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ServiceItems" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@entity.Id">
                        <a href="#" onclick="document.getElementById('form-@entity.Id').submit();" class="btn btn-danger" style="text-decoration: none">удалить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>}
                    <nav aria-label="Supplieers Navigation Example">
                        <ul class="pagination">
                            @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                        </ul>
                    </nav>}


    </div>
    <div class="div-box">
        <h3>Редактировать страницы сайта</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услуги</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>


